NEXT_PUBLIC_SUPABASE_URL=https://lrtwawzwxipxowujbabd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxydHdhd3p3eGlweG93dWpiYWJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyOTc3ODcsImV4cCI6MjA5NDg3Mzc4N30.GYwNe3zX-r32vfLmqIPklg9Bqg_LPzZsBwj98VymAdI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxydHdhd3p3eGlweG93dWpiYWJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTI5Nzc4NywiZXhwIjoyMDk0ODczNzg3fQ.mYheFy5HQLQmdoQNnjg2KCDU92y7yK5hAtNa61DyG2Q
RESEND_API_KEY=
RESEND_FROM_EMAIL=GTM Match <info@gtmmatch.space>
NEXT_PUBLIC_APP_URL=http://localhost:3000
